NEXTAUTH_URL=
NEXTAUTH_SECRET=

TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Admin User
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_ROLE=

# Cloudinary
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=


